#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #05071a;
    margin: 0px;
}
#movie-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#movie-container .images{
    margin: 15px;
    width: 80%;
    height: 85%;
}


